<div class="panel panel-success">
  <div class="panel-heading">Is my numeric id stored anywhere?</div>
  <div class="panel-body">
    No, all encoding is done in your browser and no values are sent to the server.
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">What is the salt?</div>
  <div class="panel-body">
    The encoder will be randomized using the salt (a string). Encoding and decoding will only work between two encoder instances if they share the same salt string. 
  </div>
</div>
